body .layui-layer {
    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=60);
    background-color: rgba(0,0,0,.6);
    color: #fff;
    border: none;
}
body .layui-layer-msg {
    min-width: 180px;
    border: none;
    box-shadow: none;
}

body .layui-layer-btn {
    text-align: center; !important;
    vertical-align: middle;
}

/*body .layui-layer-btn .layui-layer-btn0 {*/
    /*border-color:#006cff; !important;*/
    /*background-color:#006cff; !important;*/
    /*color: #fff; !important;*/
/*}*/
/*body .layui-layer-btn .layui-layer-btn1 {*/
    /*border-color:green; !important;*/
    /*background-color:green; !important;*/
    /*color: #fff; !important;*/
/*}*/

.layui-layer-btn .layui-layer-btn0 {
    vertical-align: middle;
    /*border-color:#3a92ab; !important;*/
    /*background-color: #3a92ab; !important;    */
    border-color:#6c757d; !important;
    background-color: #6c757d; !important;
    color: #fff; !important;
}

.layui-layer-btn .layui-layer-btn1 {
    border-color:#ff3502; !important;
    background-color: #ff3502; !important;
    color: #fff; !important;
    margin-top: 6px!important;
    text-align: center!important;
    vertical-align: middle!important;
}
body .layui-layer-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-left: -125px;*/
    /*margin-top: -15px;*/
    min-width: 180px;
    border: none;
    box-shadow: none;
}